<app-subheader>
    <ng-template #main>
        <app-subheader-button icon="upload" title="Upload file">
            <input (change)="onFileUploadChange($event)" type="file" class="upload-file" />
        </app-subheader-button>
        <input type="text" #keyword pInputText (change)="onChangeKeyword(keyword.value)"/>
        <select #mimeSelect (change)="onChangeMimeFilter(mimeSelect.value)">
            <option value="*">All</option>
            <option value="image/">Image</option>
            <option value="audio/">Audio</option>
            <option value="video/">Video</option>
            <option value="other">Other</option>
        </select>
        <span>{{count}}</span>
    </ng-template>
    <ng-template #right>
        <app-subheader-button icon="delete" title="Recycle Bin"></app-subheader-button>
    </ng-template>
</app-subheader>
<div class="container">
    <ul>
        <li>
            <app-media-renderer [float]="true" [width]="250" [height]="170" (click)="onMediaSelect(item)" *ngFor="let item of items"
                [media]="item"></app-media-renderer>
        </li>
    </ul>
    <div *ngIf="active" class="aside">
        <div class="aside-header">
            <div class="title">Media File</div>
            <div class="right">
                <button class="close icon-button" title="Close" (click)="active=null">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </div>
        </div>
        <div class="aside-contents">

            <app-media-renderer [width]="377" [height]="220" class="preview" [media]="active"></app-media-renderer>

            <div class="section">
                <div class="section-title">LINK</div>
                <div class="section-contents">
                    <input type="text" [value]="'http://localhost:8000/media/'+active.uuid"/>
                </div>
            </div>

            <div class="section">
                <div class="section-title">UUID</div>
                <div class="section-contents">
                    <input type="text" [value]="active.uuid"/>
                </div>
            </div>

            <div class="section">
                <div class="section-title">NAME</div>
                <div class="section-contents">
                    <input type="text" [value]="active.name"/>
                </div>
            </div>

            <div class="section">
                <div class="section-title">MIME</div>
                <div class="section-contents">
                    <input type="text" [value]="active.mime"/>
                </div>
            </div>

            <div class="section">
                <div class="section-title">TAGS</div>
                <div class="section-contents">
                    <input type="text" [value]="active.tags"/>
                </div>
            </div>

            <div class="section">
                <div class="section-title">DESCRIPTION</div>
                <div class="section-contents">
                    <input type="text" [value]="active.description"/>
                </div>
            </div>

        </div>
    </div>
</div>