:host {

    height: 100%;
    display: flex;
    flex-direction: column;

    ::ng-deep app-subheader-button button {
        .upload-file {
            position: absolute;
            background: transparent;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }

    .container {
        display: flex;
        flex: 1;
        ul {
            flex: 1;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            li app-media-renderer {
                margin-bottom: 10px;
                margin-left: 10px;
            }
        }

        .aside {
            width: 400px;
            border-left: var(--border-style);
            
            .aside-header {
                border-bottom: var(--border-style);
                overflow: hidden;
                background: #FBFBFB;
                height: 40px;
                display: flex;
                .title {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                }
                .right {
                    display: flex;
                    align-items: center;
                }
            }
            .aside-contents {
                padding: 10px;
                .section {
                    padding-top: 10px;
                    .section-title {
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .section-contents {
                        input {
                            width: 100%;
                            display:  block;
                            box-sizing: border-box;
                            padding: 5px;
                            font-size: 12px;
                            border-radius: 6px;
                            border: 1px solid var(--main-color);
                        }
                    }
                }
            }
            .preview {
                width: 380px;
            }
        }
    }
}