<app-dashboard-box headline="Payments" area="a">
</app-dashboard-box>

<app-dashboard-box headline="Support" area="b">

</app-dashboard-box>

<app-dashboard-box headline="Analytics" area="c">

</app-dashboard-box>

<app-dashboard-box headline="Accounts" area="d">

</app-dashboard-box>

<app-dashboard-box headline="Data" area="e">

</app-dashboard-box>

<app-dashboard-box headline="Forms" area="f">

</app-dashboard-box>

<app-dashboard-box headline="Media" area="g">

</app-dashboard-box>

<app-dashboard-box headline="Emails" area="h">

</app-dashboard-box>

<app-dashboard-box headline="Discussions" area="i">

</app-dashboard-box>
