<img [src]="thumbnail" [attr.width]="width + 'px'"/>
<span *ngIf="!thumbnail" class="name">{{media?.name}}</span>
<div class="info">
    <span class="material-symbols-outlined">
        {{icon}}
    </span>
    <span class="size">
        {{(media?.size||0) | filesize}}
    </span>
</div>