:host {
    border: 1px solid #eee;
    overflow: hidden;
    background: var(--main-color);
    text-align: center;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
        outline: 3px solid var(--main-color);
        outline-offset: 1px;
    }

    &.selected {
        outline: 2px solid var(--main-color);
    }

    .name {
        color: rgba(255,255,255,.25);
        font-size: 12px;
    }

    .info {
        background: #000;
        padding: 5px;
        font-size: 9px;
        color: #fff;
        position: absolute;
        left: 5px;
        bottom: 5px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .size {
            margin-left: 5px;
        }

        .material-symbols-outlined {
            font-size:12px;
        }
    }

    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}