:host {
    width: 32px;
    height: 32px;
    button {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: var(--main-color);
        border: none;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        &:hover {
            outline: 3px solid #08556648;
            outline-offset: 0px;
        }
    }
}