<app-header></app-header>
<div class="contents-wrapper">
    <aside>
        <div class="flex">
            <app-side-menu-item [menu]="item" *ngFor="let item of menu"></app-side-menu-item>
        </div>
    </aside>
    <div class="contents">
        <router-outlet></router-outlet>
        <div class="loader">
            Just, wait a sec ! I'm loading
        </div>
    </div>
</div>