:host {
    display: flex;
    height: 100%;
    flex-direction: column;

    .contents-wrapper {
        display: flex;
        flex-direction: row;
        flex: 1;
        min-height: 0;
    }

    aside {
        overflow: auto;
        max-width: 180px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: var(--border);
        position: relative;
    }

    .contents {
        flex: 1;
        overflow: auto;
        height: 100%;
    }

    router-outlet + .loader {
        opacity : 1;
    }
    
    .loader {
        opacity : 0;
    }
}