<header>
    <div class="logo-box">
        <svg width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M34.784 37.1838L5.16824 21.5622C4.84491 21.3919 4.5742 21.1363 4.38535 20.8231C4.1965 20.51 4.09668 20.1511 4.09668 19.7852C4.09668 19.4194 4.1965 19.0605 4.38535 18.7473C4.5742 18.4341 4.84491 18.1785 5.16824 18.0082L34.8241 3.10947C35.1324 2.95384 35.4756 2.88057 35.8205 2.89673C36.1653 2.91289 36.5002 3.01794 36.7926 3.20172C37.085 3.38549 37.3251 3.64176 37.4896 3.94572C37.6541 4.24967 37.7375 4.591 37.7316 4.93667V35.457C37.7239 35.7998 37.6286 36.1348 37.455 36.4303C37.2813 36.7257 37.035 36.9717 36.7395 37.1449C36.444 37.318 36.1091 37.4125 35.7668 37.4193C35.4245 37.4261 35.0862 37.345 34.784 37.1838Z" fill="#085566"/>
            <path d="M13.7702 17.7071C11.8587 17.7071 9.99013 18.2747 8.40077 19.3382C6.81141 20.4016 5.57266 21.9131 4.84116 23.6816C4.10966 25.4501 3.91826 27.396 4.29118 29.2734C4.66409 31.1508 5.58457 32.8752 6.93621 34.2288C8.28784 35.5823 10.0099 36.504 11.8847 36.8775C13.7595 37.2509 15.7027 37.0592 17.4687 36.3267C19.2347 35.5942 20.7442 34.3537 21.8061 32.7622C22.8681 31.1706 23.4349 29.2994 23.4349 27.3853C23.4402 26.1128 23.1939 24.8519 22.7101 23.6753C22.2262 22.4987 21.5145 21.4297 20.616 20.5299C19.7175 19.6302 18.65 18.9175 17.475 18.433C16.3 17.9485 15.0409 17.7018 13.7702 17.7071Z" fill="black"/>
            <path d="M13.7705 17.7071C12.4972 17.7014 11.2355 17.9486 10.0584 18.4346C8.88126 18.9206 7.81213 19.6356 6.91291 20.5383C6.49493 20.9556 6.11884 21.4129 5.79004 21.9037L22.7534 30.8389C23.1964 29.7411 23.4277 28.5693 23.4352 27.3853C23.4352 24.8185 22.4169 22.3568 20.6045 20.5418C18.792 18.7268 16.3337 17.7071 13.7705 17.7071Z" fill="#B3ACB0"/>
            </svg>
    </div>
    <div class="scale">
        <div>
            <div class="breadcrumb">
                <div class="path" *ngFor="let path of workspace.path">{{path}}</div>
            </div>
        </div>
    </div>
    <div class="right-tools">
        <div class="avatar" [cdkMenuTriggerFor]="menu">
            <img [src]="avatarURL" />
        </div>
        <ng-template #menu>
            <div class="avatar-menu" cdkMenu>
                <button [routerLink]="'/account/settings'" class="example-menu-item" cdkMenuItem>Settings</button>
                <button [routerLink]="'/help'" class="example-menu-item" cdkMenuItem>Help</button>
                <button (click)="logout()" class="example-menu-item" cdkMenuItem>Sign out</button>
            </div>
        </ng-template>
    </div>
</header>