header {
    height: 60px;
    border-bottom: var(--border);
    display: flex;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.scale {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.breadcrumb {
    color: #085566;
    display: flex;
    position: relative;
    font-size: 15px;

    .root {
        padding: 5px 5px 5px 10px;
        border-radius: 6px;
        margin-right: 5px;
        background: rgba(var(--main-color), 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background: rgba(var(--main-color), 0.2);
        }

        &:after {
            background-image: url('../../../../assets/proj_arrow_down.png');
            background-repeat: no-repeat;
            background-position: center;
            content: '';
            width: 10px;
            height: 10px;
            display: table;
            margin-left: 5px;
        }
    }

    .path {
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: '/';
            width: 10px;
            height: 10px;
            display: table;
            margin-left: 5px;
        }
    }
}

.root-change-popup {
    box-sizing: border-box;
    position: absolute;
    width: 178px;
    top: 5px;
    padding: 2px;

    background: #FFFFFF;
    border: 1px solid rgba(8, 85, 102, 0.22);
    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 8px;
        max-height: 150px;
        overflow: auto;

        li {
            button {
                border: none;
                outline: none;
                background: none;
                font-size: 15px;
                height: 34px;
                border-radius: 6px;
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                span {
                    flex: 1;
                    text-align: left;
                    font-weight: bold;
                }

                em {
                    font-style: normal;
                }

                &:hover {
                    background-color: rgba(8, 85, 102, 0.10);
                }

                &.active {
                    background-color: rgba(8, 85, 102, 0.05);
                }
            }
        }
    }

    .form {
        display: flex;
        margin: 0 5px;
        border-top: 1px solid #eee;
        padding: 10px 0px;
        input {
            flex: 1;
            margin-right: 3px;
            width: 60px;
        }
        .create-button {
            display: block;
            border: none;
            background: none;
            padding: 5px;

            &:hover {
                background-color: rgba(8, 85, 102, 0.10);
            }
        }
    }
}

.right-tools {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 5px;

    img {
        width: 40px;
        height: 40px;
    }
}

.avatar-menu {
    background: #FFF;
    box-shadow: 0px 1px 1px #0000004b;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    right: 0;
    button {
        display: block;
        background: none;
        border: none;
        outline: none;
        padding: 4px 10px;
        width: 100%;
        text-align: left;

        &:hover {
            background: #eee;
        }
    }
}