:host {
    display: block;
    border: var(--border);
    border-radius: 3px;
    height: 300px;
    .title {
        height: 40px;
        border-bottom: var(--border);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .contents {
        padding: 3px;
    }
}