<form>
    <input [(ngModel)]="email" placeholder="Email" type="text" name="email"/>
    <input [(ngModel)]="password" placeholder="Password" type="password" name="password"/>
</form>

<button (click)="onLogin()">Login</button>