:host {
    display: flex;
    background: #FBFBFB;
    height: 36px;
    border-bottom: 1px solid rgba(8, 85, 102, 0.3);
    padding: 14px;

    .container-main {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        ::ng-deep > * {
            margin-right: 15px;
        }
    }

    .container-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ::ng-deep > * {
            margin-left: 15px;
        }
    }

    ::ng-deep input, 
    ::ng-deep select {
        height: 32px;
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid var(--main-color);
        background-color: #FFF;
        &:hover {
            outline: 3px solid #08556648;
            outline-offset: 0px;
        }
    }
}