body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    --main-color: 8, 85, 102;
    --border: 1px solid rgba(36,28,21,.15);
}

.flex {
    flex: 1;
    min-height: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
}

.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}