
:host {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--main-color);

    button {
        width: 100%;
        background: none;
        border: none;
        height: 35px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .text {
            text-align: left;
            margin-left: 10px;
            flex: 1;
        }

        .arrow {
            transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
            transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
            &.expanded {
                transform: rotate(180deg);    
            }
        }

        .material-symbols-outlined {
            font-size: 19px;
            margin-left: 10px;
        }
        &:hover {
            background: rgba(var(--main-color), 0.1);
        }
    }

    .submenu {
        list-style-type: none;
        margin:0;
        padding: 0;
        li {
            a {
                cursor: pointer;
                display: block;
                padding: 5px 5px 5px 45px;
                text-decoration: none;
                font-size: 12px;
                color: var(--main-color);
                &:hover {
                    background: rgba(var(--main-color), 0.1);
                }
            }
        }
    }
}

::ng-deep .active {
    background: rgba(var(--main-color), 0.05);
}