<button (click)="onMenuItemClick()">
    <span class="material-symbols-outlined">
        {{menu?.icon}}
    </span>
    <span class="text">{{menu?.text}}</span>
    <em *ngIf="menu?.children" [class.expanded]="expended" class="arrow material-symbols-outlined">expand_less</em>
</button>
<ul class="submenu" *ngIf="expended">
    <li [class.active]="isChildActive(item)" *ngFor="let item of menu?.children">
        <a (click)="activeChild = item">{{item.text}}</a>
    </li>
</ul>